<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>jQuery Ajax</title>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script>
	$(document).ready(function() {
		$('#checkDup').click(function() {
			var itemName = $('#itemName').val();
			$.ajax({
				url: '/check',
				type: 'GET',
				data: {itemName : itemName},
				success : function(data) {
					if(data.isCheck) {
						$('#dupMsg').text("중복 존재");
					} else {
						$('#dupMsg').text("사용 가능");
					}
				},
				error : function() {
					$('#dupMsg').text("오류 발생");
				}
			})
		})
	})
</script>
</head>
<body>
	<h1>Ajax DupCheck</h1>
	<label for="itemName">상품명</label>
	<input type="text" id="itemName" name="itemName"/>
	<button id="checkDup" type="button">중복확인</button>
	<p id="dupMsg"></p>
</body>
</html>