<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>이메일/인증번호</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
	function sendNumber() {
		$("#mail_number").css("display", "block"); // 인증 번호 입력 창 보이게 설정
		
		$.ajax({// 실시간으로 움직임을 처리하는 자바스크립트
			    url: "/mail", // @PostMapping("/mail") 과 연결된다.
			    // 기존에는 form action 주소로 java 와의 연결을 했다면,
			    // ajax 는 url 주소로 java 와의 연결을 할 수 있다.
			    type: "post",
			    dataType:"json",
			    data:{"mail" : $("#mail").val()}, // mail 이라는 key 값으로, id="mail" 에 작성된 값 가져오기
			    success: function(data){
			    	alert("인증번호 발송에 성공했습니다.");
			    	$("#Confirm").attr("value", data);
			    }
			    });
	}
	function confirmNumber(){
        var number1 = $("#number").val();
        var number2 = $("#Confirm").val();

        if(number1 == number2){
            alert("인증되었습니다.");
        }else{
            alert("번호가 다릅니다.");
        }
    }
</script>
</head>
<body>
	<h1>이메일로 인증번호 보내기</h1>
	<div id="mail_input" name="mail_input">
		<input type="text" placeholder="인증번호를 받을 이메일 주소를 입력하세요." name="mail" id="mail">
		<button type="button" id="sendBtn" name="sendBtn" onclick="sendNumber()">인증번호 보내기</button>
	</div>
	
	<br>
	
	<div id="mail_number" name="mail_number" style="display:none">
		<input type="text" placeholder="이메일로 받은 인증번호를 입력하세요." name="number" id="number">
		<button type="button" name="confirmBtn" id="confirmBtn" onclick="confirmNumber()">인증번호 확인하기</button>
	</div>
	
	<br>
	
	<input type="text" id="Confirm" name="Confirm" style="display: none" value="">
	<!-- 인증 번호를 가지고 있는 input 창 -->
</body>
</html>