<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>서버로 파라미터 제출하기</title>
</head>
<body>
	<h1>서버로 파라미터 제출하기</h1>
	<h3>1. HttpServletRequest.getParameter("key") 를 이용하여 제출하기</h3>
	
	<!-- method="GET" 일 경우, DB에서 가져와 사용자에게 보여주기 -->
	<!-- method="POST" 일 경우, DB에 저장, 수정, 삭제, 전달하기 -->
	
	<!-- /param/main ▶ http://localhost:8081/param/main ◀ 문제가 발생한다. -->
	<!-- /param/test1 ▶ http://localhost:8081/param/test1 ◀ 문제없이 실행된다. 
	     ▶ input 에 입력된 값을 확인하고, 다시 input 페이지로 돌아온다.
	     ▶ 값을 전달하고 /param/main 페이지로 돌아오는 과정이 너무 빠르기 때문에, 변화가 없는 것처럼 보일 뿐이다.
	       맨 앞에 /를 붙이지 않으면, Controller 에 작성된 param 이라는 공통 주소가 한번 더 붙기 때문에, 
	       위와 같이 /param/param/main, /param/param/test1 등으로 주소가 변형되는 것이다. -->
	<form action="/param/test1" method="POST">
	이름: <input type="text" name="inputName"><br>
	나이: <input type="number" name="inputAge"><br>
	주소: <input type="text" name="inputAddress"><br>
	
	<!-- 버튼 기본 타입 은 submit 이기 때문에, 생략해도 상관없다. -->
	<button>제출하기</button>
	</form>
	
	<h3>2. @RequestParam 어노테이션을 이용하여,
	    - 낱개(단수, 독립된) 파라미터(매개변수) 를 컨트롤러에서 가져오는 방법
	</h3>
	
	<form action="연결주소값2" method="POST">
		책 제 목: <input type="text" name="title"><br>
		작 성 자: <input type="text" name="writer"><br>
		책 가 격: <input type="number" name="price"><br>
		출 판 사: <input type="text" name="publisher"><br>
		
		<!-- 버튼 기본 타입 은 submit 이기 때문에, 생략해도 상관없다. -->
		<button>제출하기</button>
	</form>
</body>
</html>